:root {
    --col1: #171717;
    --col2: #212121;
    --textcol:#ffffff;
}
*{
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--textcol);
    background-color: var(--col2);
  }